.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px; /* Height of the loader */
    background-color: rgb(253, 253, 252); /* Default color of the loader */
    z-index: 1000; /* Ensure the loader is above other elements */
    transition: width 0.3s; /* Smooth transition for width changes */
  }
  